*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* sezione container */
#container-green{
    background-color:rgba(2,149,136,255);
    height: 20vh;
}
#container-grey{
    position: relative;
    background-color:rgba(212,219,218,255);
    height: 80vh;
}
#container-app{
    position: absolute;
    top: 50px;
    left: 150px;
    width: 80%;
    margin: 0 auto;
    height: 800px;
    z-index: 1;
    display: flex;
}
#contact{
    height: 100%;
    width: 35%;
}
#chat{
    height: 100%;
    width: 65%;
}
/* user */

.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(234,234,234,255);
    height: 60px;
    border: grey solid 1px;
}

.picprofile{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    /* debug */
    background-color: hotpink;
}
.picprofile img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.icons{
    width: 100px;
    display: flex;
    justify-content: space-around;
}
.icons i{
    color:rgba(177,177,177,255);
    font-size: 20px;
}

#notifiche{
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgba(141,218,252,255);
}
#bell{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: white;
    margin-left: 20px;
}
#bell i{
    margin-top: 5px;
    color:rgba(141,218,252,255);
    font-size: 40px;
}
#alert-notifiche{
    margin-left: 10px;
}
#alert-notifiche h2{
    font-size: 20px;
}
#alert-notifiche h3{
    font-size: 15px;
    color: grey;
    text-decoration: underline;
}

#search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: white;
}
#input-search{
    width: 95%;
    height:30px;
}