*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* sezione container */
#container-green{
    background-color:rgba(2,149,136,255);
    height: 20vh;
}
#container-grey{
    position: relative;
    background-color:rgba(212,219,218,255);
    height: 80vh;
}
#containerApp{
    position: absolute;
    top: 50px;
    left: 150px;
    width: 80%;
    margin: 0 auto;
    height: 800px;
    z-index: 1;
    display: flex;
}
#contact{
    height: 100%;
    width: 35%;
    background-color: white;
}
#chat{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height: 100%;
    width: 65%;
    background-image: url("https://www-acc.esa.int/extension/pillars/design/pillars/images/nebula.jpg");
}
/* user */

.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(234,234,234,255);
    height: 60px;
    border: grey solid 1px;
}
.detail{
    display: flex;
    align-items: center;
}
.detail h2 h4{
    margin-left: 10px;
}
.picprofile{
    border-radius: 50%;
    height: 45px;
    width: 45px;
}
.picprofile img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.icons{
    width: 100px;
    display: flex;
    justify-content: space-around;
}
.icons i{
    color:rgba(177,177,177,255);
    font-size: 20px;
}

#notifiche{
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgba(141,218,252,255);
}
#bell{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: white;
    margin-left: 20px;
}
#bell i{
    margin-top: 5px;
    color:rgba(141,218,252,255);
    font-size: 40px;
}
.alert-notifiche{
    margin-left: 10px;
}
.alert-notifiche h2{
    font-size: 20px;
}
.alert-notifiche h3{
    font-size: 15px;
    color: grey;
    text-decoration: underline;
}

#search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: white;
}
#input-search{
    width: 95%;
    height:30px;
}

.user-chat{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 60px;
    border-bottom: grey solid .5px;
}
.alert-notifiche h4{
    font-size: 15px;
    color: grey;
}

/* chat */

#write{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color:rgba(242,237,232,255);
}
#write input{
    width: 60%;
    height: 40px;
}
#write i{
    font-size: 30px;
    color: grey;
}
#messages{
    width: 100%;
    height: 100%;
    margin-top: 40px;
}
.containOwnMessages{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
}
.ownMessage{
    margin-right: 40px;
    background-color:rgba(213,249,186,255);
    padding: 20px;
    border-radius: 10px;
}

.containFriendMessages{
    display: flex;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
}
.FriendMessage{
    margin-left: 40px;
    background-color:white;
    padding: 20px;
    border-radius: 10px;
}
