<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="css/style.css">
    <title>Boozap</title>
</head>
<body>
    <div id="container-green">
        <div id="containerApp">
            <div id="contact">
                <div class="user">
                    <div class="detail">
                        <div class="picprofile">
                            <img src="img/avatar_io.jpg" alt=""> 
                        </div>
                        <h2>Nome utente</h2>
                    </div>
                    <div class="icons">
                        <i class="fas fa-sync-alt"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-user-circle"></i>
                    </div>
                </div>

                <div id="notifiche">
                    <div id="bell">
                        <i class="far fa-bell-slash"></i>
                    </div>
                    <div class="alert-notifiche">
                        <h2>Ricevi notifiche di nuovi messaggi</h2>
                        <h3>Attiva notifiche desktop</h3>
                    </div>
                </div>

                <div id="search">
                    <input id="input-search" type="text" placeholder="Cerca o inizia una nuova chat">
                </div>

                <div v-for="friend, i in contacts" class="user-chat" :class="i === activeChat ? `active` : `` " @click="openChat(i)">
                    <div class="picprofile">
                        <img :src="`img/avatar${friend.avatar}.jpg`" alt=""> 
                    </div>
                    <div class="alert-notifiche">
                        <h2>{{friend.name}}</h2>
                        <h4>{{ getLastMessage(i) }}</h4>
                    </div>
                </div>

            </div>

            <div id="chat">
                <div class="user">
                    <div class="detail">
                        <div class="picprofile">
                            <img src="img/avatar_1.jpg" alt=""> 
                        </div>
                        <div class="alert-notifiche">
                            <h2>{{contacts[activeChat].name}}</h2>
                            <h4>da stampare data</h4>
                        </div>
                    </div>
                    <div class="icons">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-user-circle"></i>
                    </div>
                </div>

                <div id="messages" v-for="message, i in contacts[activeChat].messages">
                    <div class="containOwnMessages" v-if="message.status === 'sent'">
                        <div class="ownMessage">
                            <p><strong>{{message.text}}</strong></p>
                            <p class="date">{{message.date}}</p>
                        </div>
                    </div>
                    <div class="containFriendMessages" v-else>
                        <div class="FriendMessage">
                            <p><strong>{{message.text}}</strong></p>
                            <p class="date">{{message.date}}</p>
                        </div>
                    </div>
                </div>

                <div id="write">
                    <i class="far fa-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio...">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>
    </div>
    <div id="container-grey"></div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>
</html>